<!-- <div ui-view="form"></div> -->
<at-panel>
    <at-panel-heading hide-dismiss="true">
        {{ vm.panelTitle }}
    </at-panel-heading>

    <at-panel-body>
        <at-list>
            <at-row ng-repeat="template in vm.templates.results">
                <div class="at-Row-items">
                    <at-row-item
                        header-value="{{ template.name }}"
                        header-link="/#/templates/{{ template.id }}"
                        header-tag="{{ template.type }}">
                    </at-row-item>
                    <at-row-item
                        label-value="Activity"
                        smart-status="template">
                    </at-row-item>
                    <at-row-item
                        label-value="Inventory"
                        value="{{ template.summary_fields.inventory.name }}"
                        value-link="/#/inventories/{{ template.summary_fields.inventory.id }}">
                    </at-row-item>
                    <at-row-item
                        label-value="Project"
                        value="{{ template.summary_fields.project.name }}"
                        value-link="/#/projects/{{ template.summary_fields.project.id }}">
                    </at-row-item>
                    <!-- <at-row-item
                        label-value="Credential"
                        value="TODO">
                    </at-row-item> -->
                    <at-row-item
                        label-value="Last Modified"
                        value="{{ template.modified }} by {{ template.summary_fields.modified_by.username }}">
                    </at-row-item>
                    <at-row-item
                        label-value="Last Used"
                        value="TODO by TODO">
                    </at-row-item>
                    <at-row-item
                        label-value="Labels"
                        value="TODO">
                    </at-row-item>
                </div>
                <div class="at-Row-actions">
                    <at-row-action icon="icon-launch"></at-row-action>
                    <at-row-action icon="fa-copy"></at-row-action>
                    <at-row-action icon="fa-trash"></at-row-action>
                </div>
            </at-row>
        </at-list>
    </at-panel-body>
</at-panel>
